<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
        <add name="cn" connectionString="Data Source=localhost;Initial Catalog=SistemVentas;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=True;Application Name=SQL Server Management Studio" />
        <add name="CapaPresentacion.Properties.Settings.masterConnectionString"
            connectionString="Dsn=Conexion;uid=cesar123;trusted_connection=Yes;app=Microsoft® Visual Studio®;wsid=DESKTOP-MF82B4K;database=master;language=Español"
            providerName="System.Data.Odbc" />
        <add name="CapaPresentacion.Properties.Settings.ConnectionString"
            connectionString="Dsn=SistemVentas" providerName="System.Data.Odbc" />
    </connectionStrings>
</configuration>